USE [master]
GO
/****** Object:  Database [InventoryTrackerDB]    Script Date: 15/05/2024 11:04:05 ******/
CREATE DATABASE [InventoryTrackerDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'InventoryTrackerDB', FILENAME = N'C:\Users\lukap\InventoryTrackerDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'InventoryTrackerDB_log', FILENAME = N'C:\Users\lukap\InventoryTrackerDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [InventoryTrackerDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [InventoryTrackerDB]
GO
/****** Object:  Table [dbo].[Borrow]    Script Date: 15/05/2024 11:04:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Borrow](
	[EquipmentId] [nvarchar](68) NOT NULL,
	[EmployeeId] [nvarchar](68) NOT NULL,
	[StartDate] [date] NOT NULL,
	[ClassRoomId] [nvarchar](68) NOT NULL,
	[EndDate] [date] NULL,
 CONSTRAINT [PK_Borrow] PRIMARY KEY CLUSTERED 
(
	[EquipmentId] ASC,
	[EmployeeId] ASC,
	[StartDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ClassRoom]    Script Date: 15/05/2024 11:04:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClassRoom](
	[ClassRoomId] [nvarchar](68) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_ClassRoom] PRIMARY KEY CLUSTERED 
(
	[ClassRoomId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employee]    Script Date: 15/05/2024 11:04:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee](
	[EmployeeId] [nvarchar](68) NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[MailAddress] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Employee] PRIMARY KEY CLUSTERED 
(
	[EmployeeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Equipment]    Script Date: 15/05/2024 11:04:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Equipment](
	[EquipmentId] [nvarchar](68) NOT NULL,
	[Description] [nvarchar](100) NOT NULL,
	[Note] [nvarchar](50) NULL,
	[SerialMark] [nvarchar](10) NOT NULL,
	[InventoryMark] [nvarchar](10) NOT NULL,
	[EquipmentTypeId] [int] NOT NULL,
	[Status] [int] NOT NULL,
 CONSTRAINT [PK_Equipment] PRIMARY KEY CLUSTERED 
(
	[EquipmentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EquipmentType]    Script Date: 15/05/2024 11:04:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EquipmentType](
	[EquipmentTypeId] [int] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_EquipmentType] PRIMARY KEY CLUSTERED 
(
	[EquipmentTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Borrow] ([EquipmentId], [EmployeeId], [StartDate], [ClassRoomId], [EndDate]) VALUES (N'08E931B1-E473-444C-AA04-9B06402C9694', N'3AD894F5-7089-4EC0-8602-088F19E4871D', CAST(N'2024-04-12' AS Date), N'02c5399e-79a0-4996-a4ad-e146f3bcb840', CAST(N'2024-04-13' AS Date))
INSERT [dbo].[Borrow] ([EquipmentId], [EmployeeId], [StartDate], [ClassRoomId], [EndDate]) VALUES (N'08E931B1-E473-444C-AA04-9B06402C9694', N'3AD894F5-7089-4EC0-8602-088F19E4871D', CAST(N'2024-04-14' AS Date), N'02C5399E-79A0-4996-A4AD-E146F3BCB840', CAST(N'2024-04-14' AS Date))
INSERT [dbo].[Borrow] ([EquipmentId], [EmployeeId], [StartDate], [ClassRoomId], [EndDate]) VALUES (N'0E472825-458D-4004-8973-C33C60E10346', N'3AD894F5-7089-4EC0-8602-088F19E4871D', CAST(N'2024-04-19' AS Date), N'16F7466F-25A9-4E2E-B727-C583AB20DEC6', CAST(N'2024-04-19' AS Date))
GO
INSERT [dbo].[ClassRoom] ([ClassRoomId], [Name]) VALUES (N'02c5399e-79a0-4996-a4ad-e146f3bcb840', N'C301')
INSERT [dbo].[ClassRoom] ([ClassRoomId], [Name]) VALUES (N'043402b2-2932-4b9c-8726-70ad6b377489', N'D403')
INSERT [dbo].[ClassRoom] ([ClassRoomId], [Name]) VALUES (N'0821e735-b555-4154-98ea-3c5053258a3a', N'015')
GO
INSERT [dbo].[Employee] ([EmployeeId], [FirstName], [LastName], [MailAddress]) VALUES (N'0010e8e2-e37e-4db1-ad1c-e93063d224ad', N'Noll', N'Cellone', N'ncellonepn@google.co.jp')
INSERT [dbo].[Employee] ([EmployeeId], [FirstName], [LastName], [MailAddress]) VALUES (N'00110c60-5cfa-48c1-9b74-aa6be6bedc64', N'Ingelbert', N'Hembery', N'ihemberyj8@usgs.gov')
INSERT [dbo].[Employee] ([EmployeeId], [FirstName], [LastName], [MailAddress]) VALUES (N'00458df4-812b-4de8-963b-1b870dbba643', N'Cindelyn', N'Gwyer', N'cgwyerdl@slate.com')
GO
INSERT [dbo].[Equipment] ([EquipmentId], [Description], [Note], [SerialMark], [InventoryMark], [EquipmentTypeId], [Status]) VALUES (N'00224784-4a6a-4360-9d23-6c8db07cdedd', N'Lenovo shredder', N'Aliquam quis turpis eget elit sodales scelerisque.', N'e9Nk21XvI3', N'6H4otf4273', 2, 3)
INSERT [dbo].[Equipment] ([EquipmentId], [Description], [Note], [SerialMark], [InventoryMark], [EquipmentTypeId], [Status]) VALUES (N'004d2c58-48bc-485a-96ac-ad13f40712d9', N'Sony projector', N'Duis ac nibh.', N'nhqn9YTJm4', N'AYIgT1vz9O', 4, 0)
INSERT [dbo].[Equipment] ([EquipmentId], [Description], [Note], [SerialMark], [InventoryMark], [EquipmentTypeId], [Status]) VALUES (N'00f891cf-7f09-4afe-8e8d-f2bffd92323e', N'Lenovo projector', N'Etiam faucibus cursus urna.', N'DNsq060s3g', N'qDTh3K2gH4', 1, 0)
GO
INSERT [dbo].[EquipmentType] ([EquipmentTypeId], [Name]) VALUES (1, N'Computer')
INSERT [dbo].[EquipmentType] ([EquipmentTypeId], [Name]) VALUES (2, N'Periferal Device')
INSERT [dbo].[EquipmentType] ([EquipmentTypeId], [Name]) VALUES (3, N'Teaching Equipment')
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UC_Mark]    Script Date: 15/05/2024 11:04:06 ******/
ALTER TABLE [dbo].[Equipment] ADD  CONSTRAINT [UC_Mark] UNIQUE NONCLUSTERED 
(
	[SerialMark] ASC,
	[InventoryMark] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Borrow]  WITH CHECK ADD  CONSTRAINT [FK_Borrow_ClassRoom] FOREIGN KEY([ClassRoomId])
REFERENCES [dbo].[ClassRoom] ([ClassRoomId])
GO
ALTER TABLE [dbo].[Borrow] CHECK CONSTRAINT [FK_Borrow_ClassRoom]
GO
ALTER TABLE [dbo].[Borrow]  WITH CHECK ADD  CONSTRAINT [FK_Borrow_Employee] FOREIGN KEY([EmployeeId])
REFERENCES [dbo].[Employee] ([EmployeeId])
GO
ALTER TABLE [dbo].[Borrow] CHECK CONSTRAINT [FK_Borrow_Employee]
GO
ALTER TABLE [dbo].[Borrow]  WITH CHECK ADD  CONSTRAINT [FK_Borrow_Equipment] FOREIGN KEY([EquipmentId])
REFERENCES [dbo].[Equipment] ([EquipmentId])
GO
ALTER TABLE [dbo].[Borrow] CHECK CONSTRAINT [FK_Borrow_Equipment]
GO
ALTER TABLE [dbo].[Equipment]  WITH CHECK ADD  CONSTRAINT [FK_Equipment_EquipmentType] FOREIGN KEY([EquipmentTypeId])
REFERENCES [dbo].[EquipmentType] ([EquipmentTypeId])
GO
ALTER TABLE [dbo].[Equipment] CHECK CONSTRAINT [FK_Equipment_EquipmentType]
GO
USE [master]
GO
